@import url("/styles/utility.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Poppins:wght@500&display=swap");
input,
button,
select {
 appearance: none;
 -webkit-appearance: none;
 -moz-appearance: none;
 border: none;
 outline: none;
 background: none;
 margin: 0;
 cursor: pointer;
 /* Add any additional styles as needed */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
 margin: 0;
 padding: 0;
 font-weight: normal;
}

html,
body {
 --primary: #a991f7;
 --secondary: #f6d860;
 --accent: #37cdbe;
 --neutral: #3d4451;
 --base-100: #ffffff;
 transition: all;
 color: var(--neutral);
 font-family: "Poppins", sans-serif;
 font-weight: 400;
 font-style: normal;
 margin: 0;
 padding: 0;
 background: rgb(229, 229, 229);
 color: rgb(69, 69, 69);
 background-image: radial-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 0);
 background-size: 50px 50px;
 background-position: -19px -19px;
}
h1,
h2,
h3,
h4 {
 padding: 0;
 margin: 0;
}
.main-header {
 display: flex;
 align-items: center;
 justify-content: center;
}
.top-title {
 /* background: rgb(255, 255, 255); */
 padding: 0.5rem 1rem;
 margin-top: 1rem;
 width: fit-content;
 border-radius: 0.3rem;
 font-size: 1.5rem;
}

#home-page {
 display: flex;
 flex-direction: column;
 align-items: center;
}
#filter-controls {
 display: flex;
 width: 60%;
 height: 3rem;
 margin: 1.5rem 0 1.5rem 0;
}
#filter-controls > * {
 box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
  0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
#filter-controls input {
 font-family: inherit;
 font: bold;
 padding: 0.5rem;
 background-color: white;
 width: 20rem;
 border-radius: 0.3rem 0 0 0.3rem;
}

#filter-controls select,
button {
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: inherit;
 font: bold;
 padding: 0.5rem;
 background-color: white;
 border-radius: 0.3rem;
}
#filter-controls select,
button > * {
 margin-left: 0.3rem;
}
#filter-controls .join {
 display: flex;
 width: fit-content;
}

#filter-controls .join button {
 padding: 0.3rem 1rem 0.3rem 1rem;
 font-size: 12px;
 border-radius: 0;
}
#filter-controls > * {
 margin-right: 0.3rem;
}
dialog {
 overflow: auto;
 overflow-x: hidden;
 width: 50%;
 height: 50%;
 border-radius: 0.3rem;
 border: none;
 box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
  0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
#modal-content .album-info {
 display: flex;
 width: 40rem;
}
#dialog .rank {
 font-size: 25px;
 margin-bottom: 1rem;
}
#dialog .artist {
 font-size: 16px;
}
#dialog img {
 width: 12rem;
 height: 12rem;
 border-radius: 0.3rem;
 box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
  0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
#dialog .modal-close-button {
 position: absolute;
 top: 0;
 right: 0;
 cursor: pointer;
 margin-left: auto;
 padding: 1rem;
 border: none;
 background-color: inherit;
}
.modal-close-button:hover {
 color: var(--neutral);
}
.flexbox {
 display: flex;
}
.album-info .modal-content-1 .modal-content-2 {
 display: flex;
}
.album-info .modal-content-1 {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 50%;
 padding: 1rem;
}
.album-info .modal-content-2 {
 font-size: 15px;
 width: 50%;
 display: flex;
 flex-direction: column;
}
.modal-content-2 .critic-rating {
 font-size: 5rem;
 display: flex;
 width: fit-content;
 flex-direction: column;
 text-align: center;
 margin: auto;
}
.critic-rating {
 display: flex;
 gap: 1;
 align-items: center;
 justify-content: center;
}
.critic-rating .label {
 /* font-size: 0.8rem; */
 font-size: 2rem;
}
.critic-rating .score {
 border: 5px solid black;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 100%;
 font-size: 2rem;
 width: 2rem;
 height: 2rem;
 padding: 2rem;
}
.genre-title {
 margin-right: 0.5rem;
 align-self: center;
 font-size: 20px;
}
.genre-list {
 height: 100%;
 display: flex;
 flex-direction: column;
 margin: 0;
 list-style-type: none;
 padding-left: 1rem;
}
.genre-list li {
 font: bold;
 padding: 0;
 margin-right: 0.3rem;
}
.date {
 display: flex;
 align-items: center;
 font-size: 20px;
 width: 100%;
}
.date > span {
 font-size: 15px;
 margin-left: 0.5rem;
}
.artist {
 display: flex;
 align-items: center;
 font-size: 15px;
}
.artist > span {
 font-size: 20px;
 margin-right: 0.5rem;
}
#card-container {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 0.5rem;
 flex-wrap: wrap;
 padding: 0.5rem;
}

.card {
 position: relative;
 width: 15rem;
 height: 22rem;
 display: flex;
 font-size: 0.6rem;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 border-radius: 0.3rem;
}
.card img {
 width: 12rem;
 height: 12rem;
 height: auto;
 border-radius: 0.3rem;
 box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
  0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.card img:hover {
 cursor: pointer;
 scale: 110%;
}
.card .heading {
 text-align: center;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
}
.rank-number {
 display: flex;
 align-items: center;
 justify-content: center;
 /* background-color: rgb(201, 208, 255); */
 border-radius: 0.3rem 0 0.3rem 0;
}

.card-controls {
 position: absolute;
 bottom: 1px;
 right: 1px;
}
.card-head {
 display: flex;
 justify-content: center;
}
.card-content {
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
}

@media only screen and (max-width: 767px) {
 body {
  font-size: 12px;
 }
 #filter-controls {
  flex-direction: column;
  width: 100%;
  align-items: start;
 }
 #dialog {
  width: 100%;
  height: 75%;
  align-items: center;
  justify-self: center;
 }
 #dialog .album-info {
  flex-direction: column;
  margin: auto;
 }
}
