.flex {
 display: flex;
}
.flex-col {
 flex-direction: column;
}
.flex-row {
 flex-direction: row;
}
.items-center {
 align-items: center;
}
.justify-center {
 justify-content: center;
}
.relative {
 position: relative;
}
.bold {
 font: bold;
}
.italic {
 font: italic;
}
